@use "../../styles/globals/variables" as *;

.logo {
  height: clamp(1.875rem, 0.3125rem + 5vw, 3.125rem);
  width: auto;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, 
      rgba($color-white, 0.99) 45%, 
      rgba($color-primary, 0.99)
    );
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }

  &.animate {
    animation: slideInFromRight 5s ease-in-out 3s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  20% {
    transform: translateX(-10%);
    opacity: 1;
  }
  25% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-5%);
  }
  35% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(-2%);
  }
  45%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
}
